-e git+https://github.com/internetarchive/openlibrary-client.git@2fd63727ef13f5443fc489ca9d71d3b224485c27#egg=openlibrary-client
-e git+https://github.com/wikimedia/pywikibot-core.git@7.0.0#egg=pywikibot
# pywikibot deps
wikitextparser>=0.47.5
#pywikibot wants requests>=2.20.1, but our version of OL wants
requests==2.11.1
